<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/206ae10d-8d71-49d7-be10-96c1926704f2/resourcegroups/RMVRVMSurveyRG/providers/Microsoft.Web/sites/rmvrvm-survey</ResourceId>
    <ResourceGroup>RMVRVMSurveyRG</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://rmvrvm-survey.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>214ce8d4-6d17-4292-a19d-dcb9ed8c163b</ProjectGuid>
    <PublishUrl>https://rmvrvm-survey.scm.azurewebsites.net/</PublishUrl>
    <UserName>$rmvrvm-survey</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>